*{
    box-sizing: border-box;
}

h1, h2, .search-bar, .dates, .submit, .js-search-bar{
    text-align: center;
}

.search-bar, .dates{
    padding-bottom: 20px;
}

.js-search-bar{
    width: 300px;
}