*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: #e7eaf6;
}

.title{
    background-color: rgba(255, 102, 102, 0.836);
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Abril Fatface', cursive;
    color: rgb(44, 46, 46);
}

form{
    margin-bottom: 10px;
}

.js-search-bar, .js-date{
    box-shadow: inset 0 1px 3px;
}

input{
    border-style: solid;
    border-radius: 3px;
    border-width: 1px;
}

.submit-button{
   text-align: center;
}

.submit{
    height: 30px;
    width: 90px;
    font-size: 15px;
    background-color: rgb(200, 207, 245);
    border-radius: 20px;
    border-color: rgb(99, 98, 97);
    border-style: none;
    box-shadow: inset 0 1px 3px;
}

button:hover{
    background-color:rgb(122, 142, 255);
    cursor: pointer;
}

h2, .dates, .description, .js-date{
    font-family: 'Lato', sans-serif;
}

#date-from{
    margin-bottom: 5px;
}

.js-date, .js-search-bar{
    color: rgb(99, 97, 97);
}

h1, .intro, .search-bar, .dates, button, .news-section-title, .video-section-title{
    text-align: center;
    color: #113f67;
}

h2{
    font-size: 18px;
}

.search-bar, .dates{
    padding-bottom: 20px;
}

.js-search-bar{
    width: 300px;
    height: 30px;
    font-size: 18px;
    text-align: center;
}

.news-section-title, .video-section-title{
    font-family: 'Playfair Display', serif;
    padding-top: 5px;
}

.article-title, .video-title{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;                  
    overflow: hidden;
    text-overflow: ellipsis;
}

hr{
    border-top: 5px dotted rgba(0, 0, 0, 0.363);
    border-left: none;
    border-right: none;
    border-bottom: none;
    width: 30%;
}

a{
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}

a:link{
    color: rgb(35, 35, 221);
}

a:visited{
    color: purple;
}

a:hover{
    color: rgb(48, 177, 236);
}

a:active{
    color: pink;
}

.youtube-results{
    background-color: #d4d1d1;
}

.video-title, .article-title, h4, .description, h2{
    margin-left: 10px;
    margin-right: 10px;
}

iframe, .article-image{
    width: 100%;
}

.description{
    padding-bottom: 15px;
}

.loader {
    border: 6px solid #f3f3f3; /* Light grey */
    border-top: 6px solid #3498db; /* Blue */
    border-radius: 50%;
    width:50px;
    height: 50px;
    animation: spin 2s linear infinite;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.hidden{
    display: none;
}

/* for horizontal phone view */

@media all and (min-width: 445px) {
    iframe{
        height: 300px;
        width: 100%;
    }
}

/* for tablet view */

@media all and (min-width: 600px){
    .js-search-bar{
        width: 500px;
    }

    iframe{
        height: 300px;
    }

    .group{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .item{
        margin: 20px;
        width: 40%;
        height: 3*width/4;
    }

    .js-date{
        margin-right: 20px;
        margin-left: 5px;
    }

    #date-from{
        margin-bottom: 0;
    }
}

/* for desktop view */

@media all and (min-width: 1000px){
    .item{
        margin: 20px;
        width: 28%;
        
    }
}

